*{
  margin: 1px;
  padding: 3px ;
} 
Body{
  background: url(pro2.jpg)  ;
  background-repeat: no-repeat;
  background-size: cover;
} 
H2{
  text-align: center;
  color: black;
  font-size: 30px;
  background-color: gray;
  border-radius: 10px 10px 10px 10px ;
  box-shadow: 3px 5px 5px black;
} 
Legend{
  color: blue;
  font-weight: bold;
  font-family: Times New ;
  font-size: 25px ;
} 
Label{
  color: bold ;
  font-size: 15px;
  font-weight: bold ;
} 
 
